/* .btn {
  background-color: #d375b5;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  
}

.btn:hover {
  background-color: #b4659b;
} */
