.App {
  text-align: center;
}


button {
  background-color: #be5a9e;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  
}

button:hover {
  background-color: #a24785;
}
